*{
    margin: 0;
    padding: 0;
}
section{
    margin: 20px;
}
.card {
    width: 200px;
    height: 200px;
    float: left;
    perspective: 1000px;
}
.card .frente{
    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}
.card:hover .frente{
    transform: rotateY(-180deg);
    cursor: pointer;
}
.card .fundo {
    position: absolute;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
    filter: grayscale('100%');
}
.card:hover .fundo{
    transform: rotateY(0deg);
    cursor: pointer;
}
.card h2 {
    background-color: black;
    width: 100%;
    color: #fff;
    position: absolute;
    opacity: 0.7;
    text-align: center;
    border-radius: 15px;
}
